{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ index }}{% endblock %}

{% block body_block %}
        {% if user.is_authenticated %}
            <h1>Rango says... hello {{ user.username }}!</h1>
            <a href="/rango/restricted/">Restricted Page</a><br />
            <a href="/rango/logout/">Logout</a><br />
        {% else %}
            <h1>Rango says... hello world!</h1>
            <a href="/rango/register/">Register Here</a><br />
            <a href="/rango/login/">Login</a><br />
        {% endif %}

        {% if categories %}
            <ul>
                {% for category in categories %}
                    <li><a href="{% url 'category'  category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}
         <li><a href="{% url 'about' %}">About</a><br/></li>
         <li><a href="{% url 'add_category' %}">Add a New Category</a><br /></li>

{% endblock %}



